<div class="row">

  <div class="col-4"></div>

  <div class="card col-4 ml-5 mt-5 mb-3 row" style="max-width: 30rem;">
    <div class="card-header row"><h2>DATOS PERSONALES</h2></div>
   <div class=" container row" >
    <div class="card-body text-dark col-6 ">
      <h3 class="card-title">Das Atos:</h3>
      <p class="card-text ml-3"></p>
      <h3 class="card-title">E-mail:</h3>
      <p class="card-text ml-3"></p>
      <h3 class="card-title">Alta:</h3>
      <p class="card-text ml-3"></p>
      <h3 class="card-title">Oficina:</h3>
      <p class="card-text ml-3"></p>
    </div>
    <div class="card-body text-dark col-6 ">
      <h3 class="card-title">Nombre:</h3>
      <p class="card-text ml-3"></p>
      <h3 class="card-title">Apellido:</h3>
      <p class="card-text ml-3"></p>
      <h3 class="card-title">Dirección:</h3>
      <p class="card-text ml-3"></p>
      <h3 class="card-title">Puesto Laboral:</h3>
      <p class="card-text ml-3"></p>
    </div>
    </div>
  </div>

  <div class="col-4"></div>

</div>
