<div class="card border-primary mb-3">
  <div class="card-header">Empleados</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de empleados</h5>
    <div class="my-2 text-left">
      <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/empleados/form']" >Crear Empleado</button>
    </div>
    <div *ngIf="empleados?.length==0" class="alert alert-info">
      No hay registros en la base de datos!
    </div>
    <table class="table table-table-bordered table-striped" *ngIf="empleados?.length>0">
      <thead>
        <tr>
          <th>id</th>
          <th>Dni</th>
          <th>Nombre</th>
          <th>Apellido1</th>
          <th>Apellido2</th>
          <th>Fecha Nacimiento</th>
          <th>Correo</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let empleado of empleados">
          <td>{{empleado.id}}</td>
          <td>{{empleado.dni}}</td>
          <td>{{empleado.nombre}}</td>
          <td>{{empleado.apellido1}}</td>
          <td>{{empleado.apellido2}}</td>
          <td>{{empleado.fechaNac}}</td>
          <td>{{empleado.email}}</td>
          <td>
            <button type="button" name="editar" [routerLink]="['/empleados/form', empleado.id]" class="btn btn-primary">Editar</button>
          </td>
          <td>
            <button type="button" name="eliminar" (click)="delete(empleado)" class="btn btn-danger">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
