<perfil-empleado *ngIf="empleadoSeleccionado" [empleado] ="empleadoSeleccionado"></perfil-empleado>
<div class="input-group">
  <form>
    <div class="card-body text-center collapse show cuerpofiltros" id="collapse">
      <div class="d-flex justify-content-center">
          <div class="form-group  mt-0 px-2">
            <label for="oficina" class='labelsfiltros'>Buscar empleados
            <input class="" [(ngModel)]="nombre" [(ngModel)]="apellido1" [(ngModel)]="apellido2" [(ngModel)]="email" type="text" class="form-control" name="oficina">
            </label>
          </div>
        <div class=" mt-0 mr-3">
          <a class="btn botonesfiltros" style="margin-top: 20px;" [routerLink]="['/empleados/page/',0]" (click)="buscarEmpleados()" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
</svg></a>
          <a class="btn botonesfiltros" style="margin-top: 20px;" (click)="limpiar()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
  <path d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z"/>
</svg></a>
        </div>
       </div>
    </div>
  </form>
</div>
<hr>
<div class="card border-primary mb-3">
  <div class="card-header">Empleados</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de empleados</h5>
    <div class="my-2 text-left">
      <button *ngIf="authService.hasRole('ROLE_ADMIN')" class="btn btn-rounded btn-primary" type="button" [routerLink]="['/empleados/form']">
        Crear Empleado
      </button>
    </div>
    <div *ngIf="empleados?.length == 0" class="alert alert-info">
      No hay registros en la base de datos!
    </div>
    <table class="table table-bordered table-striped" *ngIf="empleados?.length>0">
      <thead>
        <tr>
          <th *ngIf="authService.hasRole('ROLE_USER')">#</th>
          <th *ngIf="authService.hasRole('ROLE_ADMIN')">dni</th>
          <th>nombre</th>
          <th>apellidos</th>
          <th>email</th>
          <th *ngIf="authService.hasRole('ROLE_ADMIN')">fecha</th>
          <th>oficina</th>
          <th *ngIf="authService.hasRole('ROLE_ADMIN')">editar</th>
          <th *ngIf="authService.hasRole('ROLE_ADMIN')">eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let empleado of empleados">
          <td *ngIf="authService.hasRole('ROLE_USER')"><img (click)="abrirModal(empleado)" *ngIf="empleado?.foto"
            src="http://localhost:8080/api/uploads/img/{{empleado.foto}}" alt="{{empleado.foto}}" class="img-thumbnail rounded"
            style="width:64px; cursor: pointer;">

            <img (click)="abrirModal(empleado)" *ngIf="!empleado?.foto"
              src="http://localhost:8080/images/no-usuario.png" alt="Sin foto" class="img-thumbnail rounded"
              style="width:64px; cursor: pointer;">
            </td>
          <td *ngIf="authService.hasRole('ROLE_ADMIN')">{{ empleado.dni }}</td>
          <td>{{ empleado.nombre }}</td>
          <td>{{ empleado.apellido1 }}, {{ empleado.apellido2 }}</td>
          <td>{{ empleado.email }}</td>
          <td *ngIf="authService.hasRole('ROLE_ADMIN')">{{ empleado.createAt | date:"dd/MM/yyyy"}}</td>
          <td>{{ empleado.oficina.nombre }}</td>
          <td *ngIf="authService.hasRole('ROLE_ADMIN')">
            <a [routerLink]="['/empleados/form', empleado.id]"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
  <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
  </svg></a>
          </td>
          <td *ngIf="authService.hasRole('ROLE_ADMIN')">
            <a (click)='delete(empleado)'><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
  </svg></a>
          </td>
        </tr>
      </tbody>
    </table>
    <paginator-nav *ngIf="paginador" [paginador]="paginador"></paginator-nav>
  </div>
</div>
