<perfil-empleado *ngIf="empleadoSeleccionado" [empleado]="empleadoSeleccionado"></perfil-empleado>
<div class="row">
  <div class="col-1"></div>
  <div class="col-10 row titulo">
    Empleados<br>
    <hr class="linea"><br>
  </div>
  <div class="col-1"></div>
</div>

<div class="row">
  <div class="col-1"></div>
  <div class="card col-10 card1">
    <div class="card-header row" data-toggle="collapse" data-target="#collapse" aria-controls="collapse" type="button">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
        class="bi bi-search mr-1 titulofiltros" viewBox="0 0 16 16">
        <path
          d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
      </svg>
      <div class="titulofiltros">Buscar</div>
    </div>
    <form>
      <div class="card-body text-center collapse show cuerpofiltros" id="collapse">
        <div class="d-flex justify-content-center">

            <div class="form-group mt-3 px-2">
              <label for="dni" class='labelsfiltros'>Dni</label>
              <input  type="text" class="form-control" name="dni">
            </div>

            <div class="form-group  mt-3 px-2">
              <label for="nombre" class='labelsfiltros'>Marca</label>
              <input  type="text" class="form-control" name="nombre">
            </div>

            <div class="form-group mt-3 px-2">
              <label for="apellido1" class='labelsfiltros'>apellido</label>
              <input  type="text" class="form-control" name="apellido1">
            </div>

        </div>

        <div class="d-flex justify-content-center">

          <div class=" mt-0 mr-3">
            <button type="submit" class="btn botonesfiltros" style="margin-top: 20px;"  >Buscar</button>
          </div>

          <div class=" mt-0">
            <button id="limpiar" class="btn botonesfiltros" style="margin-top: 20px;" >Limpiar</button>
          </div>

         </div>
      </div>
    </form>
  </div>
</div>
<hr>

<div class="card border-primary mb-3">
  <div class="card-header">Empleados</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de empleados</h5>
    <div class="my-2 text-left">
      <button *ngIf="authService.hasRole('ROLE_ADMIN')" class="btn btn-rounded btn-primary" type="button" [routerLink]="['/empleados/form']" >Crear Empleado</button>
    </div>
    <div *ngIf="empleados?.length==0" class="alert alert-info">
      No hay registros en la base de datos!
    </div>
    <table class="table table-table-bordered table-striped" *ngIf="empleados?.length>0">
      <thead>
        <tr>
          <th>id</th>
          <th>Dni</th>
          <th>Nombre</th>
          <th>Apellido1</th>
          <th>Apellido2</th>
          <th>Fecha Nacimiento</th>
          <th>Correo</th>
          <th *ngIf="authService.hasRole('ROLE_ADMIN')">Editar</th>
          <th *ngIf="authService.hasRole('ROLE_ADMIN')">Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let empleado of empleados">
          <td><button type="button" (click)="abrirModal(empleado)" class="btn btn-table-success btn-sm">{{empleado.id}}</button></td>
          <td>{{empleado.dni}}</td>
          <td>{{empleado.nombre}}</td>
          <td>{{empleado.apellido1}}</td>
          <td>{{empleado.apellido2}}</td>
          <td>{{empleado.fechaNac}}</td>
          <td>{{empleado.email}}</td>
          <td>
            <button *ngIf="authService.hasRole('ROLE_ADMIN')" type="button" name="editar" [routerLink]="['/empleados/form', empleado.id]" class="btn btn-primary">Editar</button>
          </td>
          <td>
            <button *ngIf="authService.hasRole('ROLE_ADMIN')" type="button" name="eliminar" (click)="delete(empleado)" class="btn btn-danger">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
